header {
    height: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);


    a{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        margin-left: 30px;
        color: #5988FF;
        
        &:hover{
            font-weight: 900;
        }    
    }

    img {
        height: 70px;
    }
}

.nav-wrapper {
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

.navMenu {
    .nav-list {
        display: flex;
    }
}


//      ---- BURGER MENU ----    //


@media (max-width: 1140px) {
    .navMenu {
        display: none;
        inset: 0;
        height: 100vh;
        background-color: #141d2fe6;    // funktioniert
        // background-color: var(--mainDarkTransparent);    // deshalb noch löschen
    }
}

.hamburger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 30px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;

    .bar, &.hamburger::after, &.hamburger::before {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background-color: rgba(89, 136, 255, 1) ;   //var(--mainWhite)
        margin: 10px 0px;
        transition: 400ms;
    }
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.mobile-nav {
    position: fixed;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 98 !important;
    background-color: #141d2fe6;    //funktioniert  // alternatively: transparent white
    // background-color: var(--mainDarkTransparent);    // deshalb noch löschen
    transition: 400ms;
    
    a {
        display: block;
        text-align: center;
        margin-bottom: 16px;
        padding: 12px 16px;
        color: white;   // funktioniert // alternatively: rgba(89, 136, 255, 1)
        // color: var(--mainWhite);     // deshalb noch löschen

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        // font-weight: var(--fw-regular);
        font-size: 23px;
        line-height: 120%;
        
        min-width: 150px;
        text-align: left;
        position: relative;

        &:hover{
            text-decoration: underline;
        }

        &:active {
            color: rgba(89, 136, 255, 1);   // funktioniert
        //   color: var(--mainOrange);  // deshalb löschen
        //   &::after {    // before -after - pseudoelemt funktioniert nicht
        //     content: "";
        //     position: absolute;
        //     bottom: 0;
        //     left: 40px;
        //     transform: translateX(-50%);
        //     width: 25%;
        //     height: 3px;
        //     background-color: rgba(89, 136, 255, 1);    // 
        //     // background-color: var(--mainOrange);  // löschen?
        //   }
        }
      }
}

.mobile-nav-list {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-nav.is-active {
    left: 0;
}


@media (min-width: 1140px) {
    .hamburger {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
}