header {
    height: 120px;
    width: 100%;
    background: linear-gradient(135deg, rgba(56,229,77,1) 7%, rgba(0,212,255,1) 46%, rgba(156,255,46,1) 84%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.Logo4You{
    display: flex;
    align-items: center;

    .break{
        display: flex;
    }

    .long {
        display: none;
    }

    h1{
        margin: 0;
        font-family: 'Lobster';
        font-weight: bold;
        font-size: clamp(38px, 8vw, 50px);
        
    }

    img{
        height: 90px;
        width: auto;
        padding-left: 40px;
    }
}

.menu_bar {
    margin-right: 30px;
}

.menu_bar button {
    background-color: #38E54D;
    object-fit: contain;
    border: 1px solid #38E54D;

    :hover {
        cursor: pointer;
        border: 1px solid white;
    }

    img{
        height: 30px;
        padding-left: 0px;
        width: auto;
    
    }
}


//  !---- RESPONSIVE DESIGN ----!

@media (min-width: 430px) and (max-width: 839px) {
    
    header {
        height: 80px;
    }

    .Logo4You{

        .break{
            display: none;
        }
    
        .long {
            display: flex;
        }

        img{
           height: 48px;
           width: auto;
        }
    }
}


@media (min-width: 250px) and (max-width: 429px) {

    header {
        height: 60px;
    }

    .Logo4You{

        .break{
            display: none;
        }
    
        .long {
            display: flex;
        }

        img{
            height: 48px;
            width: auto;
            padding-left: 20px;
        }
    }
}