a{
    font-family: 'Share Tech Mono', monospace;
    font-style: normal;

    &:hover{
        cursor: pointer;
    }
}

// RESPONSIVE DESIGN

@media (max-width: 1089px) {
    
    ul{
        display: none;
    }
}