footer {
    height: 120px;
    width: 100%;
    background: linear-gradient(135deg, rgba(56,229,77,1) 7%, rgba(0,212,255,1) 46%, rgba(156,255,46,1) 84%);

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
            font-weight: bold;
        }
    }

    p{
        font-family: 'Lobster';
        font-size: large;
    }
}
