footer {
    height: 120px;
    width: 100%;
    background-color: #38E54D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

@media (min-width: 250px) and (max-width: 839px) {
    
    footer{
        height: 160px;
    }
}