@import '~@fortawesome/fontawesome-free/css/all.css';

.mainBody{
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    position: relative;
    width: 100%;
}

.orderContent {
    width: 70%;
    // height:auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.OrderContentDontKnowYet{
    width: 70%;
    display: flex;
    position: relative;

}

.d-none{
    display: none !important;
}

.ifEnabledDisabled{
    width: calc(100% - 240px);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
}

.facilitatesStickyLeft{
    position: relative;
    margin-top: 60px;
}

.sideBarLeft{
    position: sticky;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;

    .sideBarLeftsearchField{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 47px;
        width: 100%;
        border: 1px solid black;
        // border-radius: 8px;

        img{
            height: 37px;
            width: auto;
        }

        input{
            height: 45px;
            width: calc(100% - 37px);
            border: none;
            border-radius: 8px;

            &:focus{
                outline: none;
            }
        }
    }
}


.hideAndSee{
    display: none;
    justify-content: space-evenly;
    width: 100%;
    
    .searchField{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 47px;
        min-width: 200px;
        max-width: 40%;
        background-color: white;
        border: 1px solid black;
        border-radius: 8px;

        img{
            height: 37px;
            width: auto;
        }

        input{
            height: 45px;
            width: calc(100% - 37px);
            border: none;
            border-radius: 8px;
         
            &:focus{
                outline: none;
            }
        }
    }
}


.filterBar{
    width: 100%;
    height: 380px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.filterMenu{
    width: 85% !important;
}


.filterHeader{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    .filterHeaderInside {
        display:flex;
        justify-content: center;
        background: linear-gradient(135deg, rgba(56,229,77,1) 7%, rgba(0,212,255,1) 46%, rgba(156,255,46,1) 84%);
    }
}

.filterGridTopBorder{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.cardMod {
    margin: 25px;
    // min-width: 350px !important;
    // max-height: 750px;

    img {
        height: 300px;
        object-fit: cover;
    }
}

.cardBodyMod{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin-right: -10px;
    // margin-left: -10px;
}


// #popoverTitle {
    
// }

.cardMidModSub{
    // position: relative;
    display: flex;
    flex-direction: column;
    // display: flex; Doesn't work in combination with popover element!
    // height: 47px;
    // z-index: 500; 

    .restaurant{
        position: relative;
        z-index: 500;// Parent Element to PopOver: This is the only way to make the popover element appear above the card element!
        height: 47px; // // Parent Element to PopOver: Specify "height" is the only way to prevent the popover element distorting the card element!
        
        margin-bottom: 35px;

        .btnMod {
            position: absolute;
            right: -3px;
            // z-index: 0;
            // word-break: keep-all;
            max-width: 67%;
           

            img {
                object-fit: cover;
                height: 25px;
                width: auto;
            }
        }
        
    }
}


    // ---- STARS - Customer Rating ---- 

.superStar{
   display: flex;
   flex-direction: column;
   align-items: flex-start;

   .stars {
    // width: 250px;
    width: 100%;
    // display: inline-block;
    display: inline-flex;
    justify-content: flex-start; 

    }
 
    input.star { 
        display: none;
    }
  
    label.star {
        float: right;
        padding: 6px;
        font-size: 28px;
        color: #38E54D;
        transition: all .2s;

        &:before {
            content: '\f005'; /* use Font Awesome icon */
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
          }
    }
    
    
    
    input.star:checked ~ label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    
    }
    
    input.star-5:checked ~ label.star:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    
    }

    input.star-1:checked ~ label.star:before {
        color: #F62;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
      
        font-family: FontAwesome;
      
    }
}
    
      
}

//  .bcs{
   
//     }

//Popper.js

.popoverContainer {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start !important;
    align-items: center;
    max-height: 450px;

    z-index: 501 !important;
    --bs-popover-arrow-width: 1.5rem;
    --bs-popover-arrow-height: 0.5rem;
    --bs-popover-arrow-color: #fff;


    img {
        object-fit: cover;
        // margin-top: 10px !important;
        max-width: 100%;
        height: 200px;
        // max-height: 280px;
        z-index: 502 !important;
        // margin-top: 3px;
        margin-bottom: 3px;

    }

    .popover-header {
        font-size: 28px;
        color: white;
        text-shadow: 2px 0px 5px black;
        text-align: center;
        width: 100%;
        margin-top: -18px;
        
    }


    // .location{
    //     width: 160px;
    //     height: 160px;
    // }
  }






.cardBottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        img {
            height: 30px;
            padding-right: 5px;
        }
    }

    .cardBottomSub{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 52%;

        .time{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            img{
                object-fit: cover;
                height: 30px !important;
                width: 30px;
              
            }
    
        }
    }

    
}


//Tooltip

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: var(--font-family-base);
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: normal;
    background-color: #000;
    color: #fff;
    border-radius: 0.25rem;
  
    &.show {
      opacity: 0.9;
    }
  
    .tooltip-arrow {
      position: absolute;
      display: block;
      width: 0.8rem;
      height: 0.4rem;
      margin: 0 0.3rem;
      background-color: #000;
  
      &::before {
        position: absolute;
        content: "";
        border-color: transparent;
        border-style: solid;
      }
    }
  
    &[data-bs-placement^="top"],
    &[data-bs-placement^="bottom"] {
      .tooltip-arrow {
        bottom: 0;
      }
    }
  
    &[data-bs-placement^="top"] {
      padding: 0.5rem 0;
      .tooltip-arrow {
        bottom: calc((0.4rem / 2) * -1);
        &::before {
          top: 0;
          border-width: 0.4rem 0.4rem 0;
          border-top-color: #000;
        }
      }
    }
  
    &[data-bs-placement^="bottom"] {
      padding: 0.5rem 0;
      .tooltip-arrow {
        top: 0;
        &::before {
          bottom: 0;
          border-width: 0 0.4rem 0.4rem;
          border-bottom-color: #000;
        }
      }
    }
  }

.menu_description_price {
    color: #38E54D;
    // margin-top: 20px;
    font-weight: bold;
    // margin: none !important;
}


// ----- Shopping Basket -----

.basketTab{
    width: 30% !important;
    position: relative;
    box-shadow: -2px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.basketSupra{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: sticky !important;
    top: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;

}

.basketSupraHead {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    h2 {
        font-family: 'Montserrat', sans-serif;
    }
}

.basket {
    width: 100%;
    height: auto;

}

.emptyBasket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    
    img {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}

.basketSmiley {
    display: flex;
    justify-content: center;

    img {
        height: 64px;
        width: 64px;
        margin-top: 10px;
    }
}


.basketMeals{
    display: flex;
    flex-direction: column;
    max-height: 600px;
    width: 100%;
    overflow-y: auto;
}

.basketTable {
    display: flex;
    flex-direction: column;
    width: 98%;
    padding-left: 2%;
    // padding-right: 2%;

    hr{
        margin-top: 10px;
        margin-bottom: 10px;

    }
}

.tableTd_1_MenuDescriptionAndPrice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .order{
        max-width: 75% !important;
    }

    span{
        display: block;
    }
}


.tableTd_2_BasketButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;

    .moreOrLess{
        display: flex;
        justify-content: space-between;
        margin-left: 40%;

        button {
            height: 45px;
            width: 45px;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 360px;
            background-color: #f5f3f1;
            border: none;
    
            &:hover{
                cursor: pointer;
                background-color: #E5E4E2;
            }
        }
    }

    .trashBin{

        button {
            height: 38px;
            width: 38px;
            background-color:white;
            background-image: url("/assets/img/icons/delete2_icon_BootstrapBlue_48x48.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border: none;

            &:hover {
                cursor: pointer;
                background-image: url("/assets/img/icons/delete3open_icon_BootstrapBlue.svg");
            }
        }
    }

}

.sums {
    width: 100%;
}

.tableRowSum {
    width: 99%;
    padding-left: 1%;
    // padding-right: 2%;
    padding-top: 10px;

    hr{
        margin-top: -10px;
    }
    
}

.ordersSubtotalSupra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: grey;
    font-weight: 400;
}

.tableRowSum button {
    height: 50px;
    width: 200px;
    background-color: #38E54D;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 22px;

    &:hover {
        height: 50px;
        width: 200px;
        background-color: #9CFF2E;
        cursor: pointer;
        color: white;
    }
}

.buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    p{
        margin-top: 20px;
    }

    img {
        height: 280px;
        width: auto;
    }
}

.ordersDeliveryCostsSupra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: grey;
    font-weight: 400;
}

.ordersTotalSupra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

// ----- Media Cart ------

.mediaCart {
    height: 80px;
    // width: calc(100% - 2px);
    width: 100%;
    background: linear-gradient(135deg, rgba(56,229,77,1) 7%, rgba(0,212,255,1) 46%, rgba(156,255,46,1) 84%);
    color: black;
    position: sticky;
    bottom: 0;
    border: 1px solid black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 501;

    img {
        height: 100%;
        width: auto;
    }

    .btnCustom {
        height: 50px;
        width: 70%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid black;
        background-color: transparent;
        color: white;
        font-size: clamp(20px, 6vw, 43px);
        display: flex;
        justify-content: space-between;
        align-items: center;
  

        &:hover{
            background-color: #9CFF2E;
            cursor: pointer;
        }

        span {
            font-weight: bold;
            font-size: xx-large;
        }
    }
}


//  !---- RESPONSIVE DESIGN ----!


@media (min-width: 1026px) and (max-width: 1400px) {

    .orderContent {
        width: 60%;
    }

    .basketTab{
        width: 40%;
    }

    .emptyBasket {
        height: auto;
    }

}


@media (min-width: 430px) and (max-width: 1025px) {

    .basketTab{
        display: none;
    }

    .orderContent {
        display: none; 
    }

    .facilitatesStickyLeft{
        display: none;
    }

    .OrderContentDontKnowYet{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
    }

    .ifEnabledDisabled{
        width: 100%;
    }

    .hideAndSee{
        display: flex;
        background: linear-gradient(135deg, rgba(56,229,77,1) 7%, rgba(0,212,255,1) 46%, rgba(156,255,46,1) 84%);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .emptyBasket {
        
        img {
            height: auto;
            width: 50%;
        }
    }

    .mediaCart {
        display: flex;
        z-index: 502;
    }

    .basketTabDisplay{
        width: 100vw !important;
        min-height: calc(100vh - 120px - 120px);
        display: flex;

    }

}


@media (min-width: 380px) and (max-width: 429px) {

    .basketTab {
        display: none;
    }

    .orderContent {
        display: none; 
    }

    .facilitatesStickyLeft{
        display: none;
    }

    .OrderContentDontKnowYet{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
    }

    .ifEnabledDisabled{
        width: 100%;
    }

    .hideAndSee{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(135deg, rgba(56,229,77,1) 7%, rgba(0,212,255,1) 46%, rgba(156,255,46,1) 84%);
        padding-top: 10px;
        padding-bottom: 10px;

        .searchField{
            margin-bottom: 20px;
            width: 80%;
            max-width: none;
        }
    }

    .emptyBasket {
        
        img {
            height: auto;
            width: 50%;
        }
    }

    .mediaCart {
        display: flex;
        z-index: 502;
    }

    .basketTabDisplay{
        width: 100vw !important;
        min-height: calc(100vh - 120px - 120px);
        display: flex;

    }

    .restaurant{
        height: 97px !important;
        margin-bottom: 0 !important;

        a{
            margin-top: 40px;
            // position: unset;
            max-width: 100% !important; 
        //    width: 100%;
            // right: auto;
            left: 0;
        }
    }
}


@media (min-width: 327px) and (max-width: 379px) {

    .basketTab {
        display: none;
    }

    .orderContent {
        display: none; 
    }

    .facilitatesStickyLeft{
        display: none;
    }

    .OrderContentDontKnowYet{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
    }

    .ifEnabledDisabled{
        width: 100%;
    }

    .hideAndSee{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(135deg, rgba(56,229,77,1) 7%, rgba(0,212,255,1) 46%, rgba(156,255,46,1) 84%);
        padding-top: 10px;
        padding-bottom: 10px;

        .searchField{
            margin-bottom: 20px;
            width: 80%;
            max-width: none;
        }
    }

    .emptyBasket {
        
        img {
            height: auto;
            width: 50%;
        }
    }

    .mediaCart {
        display: flex;
        z-index: 502;
    }

    .basketTabDisplay{
        width: 100vw !important;
        min-height: calc(100vh - 120px - 120px);
        display: flex;

    }

    .restaurant{
        height: 97px !important;
        margin-bottom: 0 !important;

        a{
            margin-top: 40px;
            max-width: 100% !important; 
            left: 0;
        }
    }

    .cardBottom{
        flex-direction: column-reverse;

        .cardBottomSub{
            justify-content: space-around;
            width: 100%;
            margin-bottom: 15px;
        }

    }
}


@media (min-width: 250px) and (max-width: 326px) {

    .basketTab {
        display: none;
    }

    .orderContent {
        display: none; 
    }

    .facilitatesStickyLeft{
        display: none;
    }

    .OrderContentDontKnowYet{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
    }

    .ifEnabledDisabled{
        width: 100%;
    }

    .hideAndSee{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(135deg, rgba(56,229,77,1) 7%, rgba(0,212,255,1) 46%, rgba(156,255,46,1) 84%);
        padding-top: 10px;
        padding-bottom: 10px;

        .searchField{
            margin-bottom: 20px;
            width: 80%;
            max-width: none;
        }
    }

    .emptyBasket {
        
        img {
            height: auto;
            width: 50%;
        }
    }

    .tableTd_1_MenuDescriptionAndPrice{

        .order{
            max-width: 70% !important;
        }
    }

    .tableTd_2_BasketButtons{
        
        justify-content: space-evenly;

        .moreOrLess{
            margin-left: 0;
        }
    }

    .mediaCart {
        display: flex;
        z-index: 502;
    }

    .basketTabDisplay{
        width: 100vw !important;
        min-height: calc(100vh - 120px - 120px);
        display: flex;

    }

    .restaurant{
        height: 127px !important;
        margin-bottom: 0 !important;

        a{
            margin-top: 40px;
            max-width: 100% !important; 
            left: 0;
        }
    }

    .stars{

        form{

            label{
                padding: 1px !important;
            }
        }
    }

    .cardBottom{
        flex-direction: column-reverse;

        .cardBottomSub{
            justify-content: space-around;
            width: 100%;
            margin-bottom: 15px;
        }

    }
}
