/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
// @import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
// @import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Major Mono Display', monospace;
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/MajorMonoDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ShareTechMono-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/ShareTechMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'VT323', monospace;
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/VT323-Regular.ttf') format('truetype');
}


body {
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400;
}

html{
    scroll-behavior: smooth;
}

