
<!-- ---- Mihai approach ----- -->

<!-- Mihai Version - using Interface Method -->

    <!-- <li class="nav-item" *ngFor="let category of categories">
      <a (click)="changeSelectedCategory(category)" class="nav-link">{{category.name}}</a>
    </li>
</ul> -->

<!-- Mihai Version - using Interface Method -->

<!-- <img src="{{selectedCategory.img}}"> -->




<!-- ---- First Tab Menu Attempt ---- -->


<!-- <div class="tab">
    <button class="tablinks" (click)="openCity('London', $event)">London</button>
    <button class="tablinks" (click)="openCity('Paris', $event)">Paris</button>
    <button class="tablinks" (click)="openCity('Tokyo', $event)">Tokyo</button>
  </div>
  
  <div id="London" class="tabcontent">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
  </div>
  
  <div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p> 
  </div>
  
  <div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
  </div>
   -->